

table {
  margin-left: 20px;
  margin-top: 40px;
}

body {
  font-family:"Reddit Sans", sans-serif ;
  font-weight: 400;

}




.tenant-btn{
  float: right;
  margin-right: 30px;
  margin-top: -50px;
}


.search-btn{

  margin-left: 30px;
  width: 300px;
  height: 35px;
  display: flex;
  margin-top: -18px;


}

h3{
  margin-left: 32px;
  margin-top: 60px;
  font-weight: 400;

  
}